<div id="modal1" #modal class="modal" >
    
  <div *ngIf="hero">
    <div class="modal-content">
      <h4>{{ hero.name | uppercase }}</h4>
      <label for="name">Name : </label>
        <input type="text" [(ngModel)]="hero.name">
    </div>
    <div class="modal-footer">
        <a href="#!" (click)="save()" class="modal-close waves-effect waves-green btn-flat">Enregistrer</a>
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Fermer</a>
    </div>
  </div>
  </div>  
