<app-test-observable></app-test-observable>

<app-group-animation></app-group-animation>

<app-query-and-stagger></app-query-and-stagger>

<app-keyframe-animation></app-keyframe-animation>

<app-disabled-animation></app-disabled-animation>

<app-ng-if-animation-enter-leave-animation></app-ng-if-animation-enter-leave-animation>

<app-enter-leaving-animation></app-enter-leaving-animation>
<app-first-animation></app-first-animation>
<app-first-animation-with-wild-card></app-first-animation-with-wild-card>
