<app-hero-search (searchingHeroes)="receiptSearchingHeroes($event)"></app-hero-search>
<app-hero-add (heroAdded)="receiptHeroAdded($event)" ></app-hero-add>



<div class="container" *ngIf="heroes">
    <div *ngFor="let hero of heroes" [ngClass]="{'masuperclass': false}">
        <div class="card"   [class.selected]="hero === selectHero" >
                <div class="card-stacked">
                    <div class="card-content">
                            <p>
                                {{hero.name}}
                            </p>
                            <p>
                                <a class="waves-effect waves-light btn modal-trigger" (click)="onSelect(hero)" href="#modal1">Voir le détail !</a>
                            </p>
                    </div>
                </div>
        </div>
    </div>
</div>

<app-hero-detail [hero]="selectedHero"></app-hero-detail>
